{{!< default}}

{{#author}}
    <section class="author-profile">
        {{#if cover}}
        <div class="author-cover" {{#if cover}}style="background-image: url({{cover}}){{/if}}">
            {{#if image}}
                <img class="author-image" alt="{{name}}'s Picture" src="{{image}}">
            {{/if}}
        </div>
        {{/if}}

        <div>
            <h1 class="author-title">{{name}}</h1>
            <h2 class="author-bio">{{bio}}</h2>
            <div class="author-meta">
                {{#if location}}<span class="author-location icon-location"><a href="https://www.google.com/maps/place/{{location}}">{{location}}</a></span>{{/if}}
                {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                <span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
            </div>
        </div>

        <a class="subscribe-button icon-feed" href="{{url}}rss/">Subscribe to {{name}}'s posts</a>
    </section>
{{/author}}

{{> "loop_without_author"}}
