{{!< default}}

{{#foreach posts}}

<article class="{{post_class}}">
    <header class="post-header">
        {{#if image}}
            <img class="post-cover" src="{{image}}" alt="{{title}}">
        {{/if}}

        <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>

        <section class="post-author">
        {{#author}}
        Written by <a href="{{url}}"><i class='fa fa-user'></i> {{name}}</a>
        {{/author}}
        </section>
        
        <section class="post-meta">
            <span class="post-time">
                <i class='fa fa-calendar'></i>
                <time datetime="{{date format="YYYY-MM-DD"}}" class="timeago">{{date timeago="true"}}</time>
                <time datetime="{{date format="YYYY-MM-DD"}}" class="fulldate">{{date format="MMMM Do, YYYY"}}</time>
                {{tags prefix="<br><i class='fa fa-tag'></i> " separator=" · "}}
            </span>
        </section>
    </header>
    <section class="post-content">
        {{content}}
    </section>
</article>

{{/foreach}}

{{pagination}}
