{{!< default}}

<article class="{{post_class}}">

    {{#post}}

        <header class="post-header">
            {{#if image}}
                <img class="post-cover" src="{{image}}" alt="{{title}}">
            {{/if}}

            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            {{! Everything inside the #author tags pulls data from the author }}
            {{#author}}

                {{#if image}}
                <figure class="author-image">
                    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                </figure>
                {{/if}}

                <section class="author">
                    <h4><a href="{{url}}">{{name}}</a></h4>

                    {{#if bio}}
                        <p>{{bio}}</p>
                    {{else}}
                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                    {{/if}}
                    <div class="author-meta">
                        {{#if location}}<span class="author-location icon-location"><a href="https://www.google.com/maps/place/{{location}}">{{location}}</a></span>{{/if}}
                        {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                    </div>
                </section>

            {{/author}}

            <section class="share">
                <h4>Share this page</h4>
                <div class="share-icons">
                  {{> share }}
                </div>
            </section>

        </footer>

    {{/post}}

</article>
